
.offers-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 80px;
}

h2 {
  -webkit-text-stroke: 2px rebeccapurple; /* width and color */

  font-family: sans;
  color: white;
  font-size: 80px;
}

